.CartSummary {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	font-size: 18px;
	border-bottom: 1px dashed #ccc;
}

.CartSummary-amount {
	font-weight: bold;
	margin: 0 20px;
}

.CartSummary button {
	width: 75px;
}
