.CartSummary {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	font-size: 18px;
}

.CartSummary-amount {
	font-weight: bold;
	margin: 0 20px 0 15px;
}

.CartSummary button {
	min-width: 80px;
	font-size: 13px;
}
