.ProductContent {
	padding: 40px;
}

.ProductContent-description {
	line-height: 20px;
}

.ProductContent * {
	margin-bottom: 20px;
}

.ProductContent-price {
	font-weight: bold;
	font-size: 24px;
}
