.Item {
  display: flex;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  padding: 20px 10px;
  flex-grow: 1;
}

.Item-price {
  font-size: 19px;
  align-content: center;
  color: rgb(51, 51, 51);
  margin-right: 20px;
}

.Item-ammount {
  font-size: 19px;
  align-content: center;
  color: rgb(51, 51, 51);
  margin-right: 20px;
  margin-left: 40px;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
}

.Item-actions button {
  width: 75px;
}
