.Item {
  display: flex;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  padding: 20px 10px;
  flex-grow: 1;
}

.Item-price {
  font-size: 18px;
  align-content: center;
  color: #404040;
}

.Item-ammount {
  font-size: 18px;
  align-content: center;
  color: #404040;
  margin-left: 62px;
}

.Item-actions {
  padding: 20px 20px 20px 10px;
  margin-left: 14px;
}

.Item-actions button {
  width: 76px;
    font-size: 13px;
}
