.CartWindow {
	max-height: 90vh;
	overflow-y: auto;
	padding-bottom: 90px;
}

.CartWindow-body_empty {
	text-align: center;
	
}

.CartWindow-head {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 70px;
}

.CartWindow-empty {
	text-align: center;
	font-size: 18px;
}
